// GdravenOrengarD
h2 {
    color: gray;
    font-family: helvetica;
    font-size: 300%;
}

p {
    color: gray;
    font-family: helvetica;
    font-size: 100%;
}

form {
    color: gray;
    font-family: helvetica;
    font-size: 100%;
}

body {
    background-color: #000A29;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    color: gray;
    padding: 2px;
}

div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#wrapper {
    width: 1600px;
    clear: both;
}

#gradient-8:hover,
#gradient-7:hover,
#gradient-6:hover,
#gradient-5:hover,
#gradient-4:hover,
#gradient-3:hover,
#gradient-2:hover,
#gradient-1:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

#gradient-8 {
    background-color: #0079c1;
    height: 800px;
    width: 800px;
    margin: auto;
    border-radius: 800px;
    display: inline-block;
    vv
}

#gradient-7 {
    background-color: #0068c1;
    height: 700px;
    width: 700px;
    float: left;
    border-radius: 700px;
    display: inline-block;
}

#gradient-6{
    background-color: #0057c1;
    height: 600px;
    width: 600px;
    margin: auto;
    border-radius: 600px;
    display: inline-block;
}

#gradient-5 {
    background-color: #0046c1;
    height: 500px;
    width: 500px;
    margin: auto;
    border-radius: 500px;
    display: inline-block;
}

#gradient-4 {
    background-color: #0035c1;
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 400px;
    display: inline-block;
}

#gradient-3 {
    background-color: #0024c1;
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 300px;
    display: inline-block;
}

#gradient-2{
    background-color: #0013c1;
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 200px;
    display: inline-block;
}

#gradient-1 {
    background-color: #0002c1;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 100px;
    display: inline-block;
}
