// GdravenOrengarD
h2 {
    color: gray;
    font-family: helvetica;
    font-size: 300%;
}

p {
    color: gray;
    font-family: helvetica;
    font-size: 100%;
}

form {
    color: gray;
    font-family: helvetica;
    font-size: 100%;
}

body {
    background-color: #000A29;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    color: gray;
    padding: 2px;
}

#wrapper {
  margin-left: 270px;
  width:1600px;
  clear:both;
}
#red:hover,
#blue:hover,
#green:hover,
#orange:hover,
#yellow:hover,
#pink:hover,
#cyan:hover,
#purple:hover,
#navy:hover {
    -webkit-transition: transform .8s ease-out;
    transform: scale(.1,.1); 
    animation-fill-mode: forwards;
    display: inline-block;
}
#red {
  background-color:red;
  height:800px;
  width:800px;
  margin: auto;
  border-radius: 800px;
  display: inline-block;
}
#blue {
  background-color: blue;
  height:700px;
  width:700px;
  float:left;
  border-radius: 700px;
  display: inline-block;
}
#green {
  background-color:lime;
  height:600px;
  width:600px;
  margin: auto;
  border-radius: 600px;
  display: inline-block;
}
#cyan {
  background-color:cyan;
  height:500px;
  width:500px;
  margin: auto;
  border-radius: 500px;
  display: inline-block;
}
#yellow {
  background-color:yellow;
  height:400px;
  width:400px;
  margin: auto;
  border-radius: 400px;
  display: inline-block;
}
#navy {
  background-color:darkblue;
  height:300px;
  width:300px;
  margin: auto;
  border-radius: 300px;
  display: inline-block;
}
#orange {
  background-color:orange;
  height:200px;
  width:200px;
  margin: auto;
  border-radius: 200px;
  display: inline-block;
}
#purple {
  background-color:darkviolet;
  height:100px;
  width:100px;
  margin: auto;
  border-radius: 100px;
  display: inline-block;
}
