/****-----start-body----****/

html,
body {
    background-color: #00a0af;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
	font-size:5em;
	color: white;
	font-family: 'Oxygen',sans-serif;
}
footer {
    height: 5%;
}

#banner {
    height: 55%;
}

#map {
    height: 40%;
}

.main {
    background-color: #00a0af;
    margin: 5em auto 0;
    width: 44%;
}
.main h1{
    background-image: url("image.jpg");
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 1em 0;
    font-family: 'Oxygen', sans-serif;
}
    
}
.main h2,
.main h3 {
    background-image: url("image.jpg");
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding: 1em 0;
    font-family: 'Oxygen', sans-serif;
}

.main h3 {
    background-image: url("image.jpg");
    font-size: 1em;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
}

span.term a {
    color: #FFFF00;
    font-weight: bold;
}

span.term a:hover {
    color: #fff;
}

.lable input[type="text"] {
    padding: 15px;
    font-size: 1.1em;
    margin: 18px 0px;
    color: #000000;
    width: 87%;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    outline: none;
    font-weight: 600;
    margin-left: 3px;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.lable input[type="text"]:hover,
.lable-2 input[type="text"]:hover,
input[type="Password"]:hover,
#active {
    color: #000000;
    border-left: 6px solid#FFFF00;
}

.lable-2 input[type="text"],
input[type="Password"] {
    padding: 14px;
    width: 94%;
    font-size: 1em;
    margin: 18px 0px;
    border: none;
    color: #666666;
    cursor: pointer;
    background: none;
    float: left;
    outline: none;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    background: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.submit {
    padding: 5px 4px;
    text-align: center;
}

input[type=button] {
    padding: 17px 30px;
    color: #fff;
    float: right;
    font-family: 'Oxygen', sans-serif;
    background: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
}

.submit input[type=submit]:hover {
    background: #000000;
    border: 1px solid #000000;
}


/**start-copy-right**/

.copy-right {
    text-align: center;
    margin: 2em 0;
}

.copy-right p {
    color: #FFF;
    font-size: 1em;
}

.copy-right p a {
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #FFFF00;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.copy-right a:hover {
    color: #fff;
}

.col_1_of_2:first-child {
    margin-left: 0;
}

.span_1_of_2 {
    width: 49.7%;
}

.col_1_of_2 {
    display: block;
    float: left;
    margin: 0 0 0 0.6%;
}

.col_1_of_f:first-child {
    margin-left: 0;
}

.span_1_of_f {
    width: 49.7%;
}

.col_1_of_f {
    display: block;
    float: left;
    margin: 0 0 0 0;
}


/*----start-responsive design-----*/

@media (max-width:1024px) {
    .col_1_of_2 {
        margin: 0 0 0 3.6%;
    }
    .span_1_of_2 {
        width: 47.7%;
    }
    .span_1_of_f {
        width: 50%;
    }
    i.fb,
    i.tw {
        margin-right: 1em;
    }
    .main {
        width: 50%;
    }
}

@media (max-width:800px) {
    .span_1_of_f {
        width: 100%;
    }
    .col_1_of_f {
        float: none;
    }
    .span_1_of_2 {
        width: 100%;
    }
    .col_1_of_2 {
        margin: 0;
    }
    .lable-2 input[type="text"],
    input[type="Password"] {
        padding: 14px;
        width: 89%;
    }
}

@media (max-width:480px) {
    .main {
        margin: 7em auto 0;
        width: 70%;
    }
}

@media (max-width:320px) {
    .main {
        width: 80%;
    }
    .lable input[type="text"] {
        width: 83%;
    }
    .lable-2 input[type="text"],
    input[type="Password"] {
        width: 84%;
    }
}
